body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
}

.red-bar {
  background-color: #FF0200;
  height: 50px;
  margin-bottom: 15px;
}

#logo {
  display: block;
  margin: 0 auto;
  height: 100%;
}

.news-item {
  padding: 10px;
}

.news-title {
  font-weight: 700;
  font-size: 20px;
}

.news-excerpt {
  font-style: italic;
  margin-top: 10px;
}

a {
  color:#FF0200;
  font-size: 14px;
  text-decoration: none;
}

.red-line {
  height: 1px;
  background-color: #FF0200;
  margin-top: 15px;
}

.mobile-break {
  margin-top: -15px;
}

.red-bar-bottom {
  background-color: #FF0200;
  height: 50px;
  margin-bottom: 15px;
  margin: 0;
  margin-top: 35px;
}

@media screen and (max-width: 768px) {

  .news-item {
    padding: 5px;
  }

  .hour {
    font-size: 12px;
  }

  .news-title {
    font-size: 16px;
    margin-bottom: 10px;
  }

  .news-excerpt {
    font-size: 14px
  }

  a {
    font-size: 12px;
  }

}
